# Functions in R worksheet!

Welcome to the functions in R! This worksheet was designed to allow you to get some hands-on practice writing functions in R. This will help you prepare to abstract some of the code in your group projects to functions for milestone 2!

In [ ]:
library(palmerpenguins)
library(testthat)
library(tidyverse)
source("test_worksheet_functions_in_r.r")
options(repr.matrix.max.rows = 10)

## Exercise 1

Write a function called `mpg_to_kml` that takes a vector of numbers in miles per gallon units and converts it to a vector in kilometeres per litre.

*Hint: 1 mile per gallon is 0.425144 kilometres per litre.*

In [ ]:
mpg_to_kml <- NULL

mpg_to_kml(1)

In [ ]:
# run this cell to check your answer!
test_1()

## Exercise 2

Rewrite the `mpg_to_kml` function and add exception handling to it so that you can handle inappropriate user input, such as character vectors, lists or data frames.

<img src="img/fail-you-will-fail-fast-you-should.jpg" width=300>

Source: Star Wars + https://memegenerator.net/

In [ ]:
# YOUR CODE HERE

In [ ]:
test_2()

## Exercise 3
*Solution posted at end of worksheet.*

Rewrite the `mpg_to_kml` function and add `roxygen2` style documentation for your function!

In [ ]:
# YOUR CODE HERE

## Exercise 4

The get_rectangle function shown below does not work for unquoted column names. Use the {{ operator to embrace the column names/user inputs given by the user so that the function works as described:

```
#' Get smaller rectangle from a bigger data frame
#' 
#' `get_rectangle` subsets a data frame using filter and select syntax.
#'
#' @param data A data frame to subset
#' @param row_filter filter logical syntax used to filter rows, column name should be unquoted.
#' @param column_range select syntax (single column or range via `col1:coln`) to 
#' select columns, default is everything
#'
#' @return A smaller/subsetted data frame
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' get_rectangle(penguins, body_mass_g > 3000, species:island)
get_rectangle <- function(data, row_filter, column_range = everything()) {
    data |> 
        filter(row_filter) |> 
        select(column_range)
}
```

*Hint: embracing works for more than just a column name - you can even embrace a variable that will hold a filter logical statement (e.g., body_mass_g > 3000).*

In [ ]:
# YOUR CORRECTED CODE HERE

get_rectangle(penguins, body_mass_g > 3000, species:island)

In [ ]:
test_4()

# Exercise 5

The nest_and_count function shown below does not work. Your task is to identify why and fix it so that the function works as described:

```
#' Nest data and count observations in each group
#'
#' @param data A data frame
#' @param nest_by A column to group by. Column name should be unquoted.
#' @param col_name A new column name for the count column. Column name should be unquoted.
#'
#' @return A data frame where the data, other than the group specified in 
#' `nest_by`, is nested. The number of rows for each data frame in the list
#' column is given in a column whose name is specified by the user.
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' nest_and_count(penguins, species, n)
nest_and_count <- function(data, nest_by, col_name) {
    data |> 
        group_by({{ nest_by }}) |> 
        nest() |> 
        mutate({{ col_name }} = map_dbl(data, nrow))
}
```

In [ ]:
# YOUR CORRECTED CODE HERE

nest_and_count(penguins, species, n) |> print()

In [ ]:
test_5()

## Solution to Exercise 3

Roxygen2 comments only:

```
#' Miles per gallon to kilometres per litre
#'
#' Convert a fuel efficiency from miles per gallon to kilometres per litre.
#'
#' @param x numeric
#'
#' @return numeric
#' @export
#'
#' @examples
#' mpg_to_kml(1)
```